<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>form</title>
    <style type="text/css">
        body {
            margin: 0%;
        }
    </style>
</head>

<body>
    <form action="div.html" method="POST">
        账号：
        <input type="text">
        <br/> 密码：
        <input type="password">
        <br/>
        <input type="submit" value="提交">
    </form>
    <select>
        <option>www.taobao.com</option>
        <option>www.baidu.com</option>
    </select>
    <input type="button" value="按钮">
    <ul contenteditable="true">
        <li>hello1</li>
        <li>hello2</li>
        <li>hello3</li>
    </ul>

</body>

</html>